<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Sugguestion Box</title>
  <meta charset="UTF-8">
  <meta name="description" content="Online Suggestion box for Dunman High School">
</head>
<body>

<div class="title">
  <h1>Online Suggestion Box for
    <a id="egg" href="https://dunmanhigh.moe.edu.sg/">DHS</a>
  </h1>
  <p>categories</p> 
</div>

<div class="categories">
  <h1>CCA</h1>
  <ul class="choices">
  <li><a href="cca_submit" target="_self">Submit Suggestions</a></li>
  <li><a href="cca_view" target="_self">View Suggestions</a></li>
  </ul>
</div>

<div class="categories">
  <h1>Class</h1>
  <ul class="choices">
  <li><a href="class_submit" target="_self">Submit Suggestions</a></li>
  <li><a href="class_view" target="_self">View Suggestions</a></li>
  </ul>
</div>

<div class="categories">
  <h1>Facilities</h1>
  <ul class="choices">
  <li><a href="facilities_submit" target="_self">Submit Suggestions</a></li>
  <li><a href="facilities_view" target="_self">View Suggestions</a></li>
  </ul>
</div>

<div class="categories">
  <h1>Others</h1>
  <ul class="choices">
  <li><a href="others_submit" target="_self">Submit Suggestions</a></li>
  <li><a href="others_view" target="_self">View Suggestions</a></li>
  </ul>
</div>

</body>
</html>

